<div>
  <h1>Hinweise zur Nutzung</h1>
<div id="text">
  <p>Über den Punkt RadarChart in der Navigationsleiste öffnet sich der Prototyp des Trendradars. Über den Punkt Home
    ist es jederzeit möglich zu diesen Hinweisen zurückzukehren.</p>

  <p>Der Trendradar visualisiert alle vom API erhaltenen Trends. Sollten in den empfangenen Daten fehlerhafte
    Informationen enthalten sein, dann werden die entsprechenden Trends vorher herausgefiltert.
    Fehlerhafte Informationen sind zum Beispiel: Falsche Sektorangaben, falsche Distanzangaben oder falsche
    Effektangabe. Ausnahme sind doppelte Effektangaben, diese werden korrigiert.</p>

  <p>Im Radar werden die unterschiedlichen Trendkategorien jeweils in einer anderen Farbe hinterlegt. Die Trends werden
    als Punkte auf dem Radar dargestellt.Je nach Anzahl der Effekte ist dieser Punkt ein- bis vierfarbig. Je mehr Effekte
    eine Trend besitzt desto größer ist der Datenpunkt.</p>

  <p>Unter dem Trendradar befinden sich Filtermöglichkeiten mit integrierter Legende. Mit Hilfe der Legende können die
    im Radar angezeigten Farben den Kategorien/Effekten zugeordnet werden. Die Filter bieten die Möglichkeit Trends
    anhand von Kategorien/Effekten herauszufiltern. Aktiviert/Deaktiviert werden die Filter mithilfe der jeweiligen
    Checkbox. Zu beginn sind alle Checkboxen aktiviert. Mit den Kategoriefiltern können ganze Kategorien ausgeblendet
    werden. Werden alle Kategorien herausgefiltert, dann ist kein Trend zum Anzeigen mehr vorhanden und es wird ein
    leerer Kreis dargestellt. Ist ein Effektfilter aktiviert, werden alle Trends angezeigt, welche den jeweiligen Effekt
    besitzen. D.h. wenn ein Effekt deaktiviert wird werden nicht automatisch alle Trends die diesen Effekt besitzen
    ausgeblendet. Ggf. haben Trends andere Effekte, derren Filter aktiviert sind und werden daher weiterhin angezeigt.
    Wie bei den Kategorien wird bei deaktivieren aller Checkboxen nur noch ein leerer Kreis dargestellt.</p>

  <p>Beim "hovern" der Datenpunkte wird der Trendname angezeigt. Für weiter Informationen kann der Datenpunkt angeklickt
    werden. Dann erscheint ein PopUp mit der Beschreibung des Trends. Am Ende der Beschreibung gibt es einen Button
    "Trend bewerten". Wird dies angelickt öffnet sich ein weiteres PopUp. In diesem PopUp kann der entsprechende Trend
    bewertet werden. Über den Button "Bewertung senden" wird die Bewertung abgeschickt und das PopUp automatisch geschlossen. </p>
</div>
</div>
