#text{
  padding-top: 1rem;
}

h1{
  padding-top: 3rem;
  font-family: 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana, sans-serif;
}


p{
  font-family: 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana, sans-serif;
}
